.docsImg {
  display: block;
  width: 60%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  transition: all 0.5s;
}

.docsImg:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.blueBtn {
  background-color: #0072ff;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.blueBtn:hover {
  background-color: #02358b;
}

.greenBtn {
  background-color: darkgreen;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.redBtn {
  background-color: red;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.redBtn:hover {
  background-color: rgb(252, 102, 99);
}

.blackBtn {
  background-color: black;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.orangeBtn {
  background-color: orange;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.whiteBtn {
  background-color: rgb(241, 240, 240);
  color: black;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px black solid;
  cursor: pointer;
}

.blueOutBtn {
  border: 1px solid #0072ff;
  color: #0072ff;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.blueOutBtn:hover {
  background-color: #0072ff;
  color: white;
}

.arrowHire {
  background-color: black;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.ApiKeyBtn {
  display: block;
  width: 80%;
  margin: auto;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  color: var(--BtW-clr);
  border: 2px solid var(--pmr-clr);
}

.ApiKeyBtn:hover {
  background-color: var(--pmr-clr);
  color: var(--WtB-clr);
  text-decoration: none;
}

.FrameMob {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; 
}

.FrameMob iframe,
.FrameMob video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}